<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kurulus List</title>
</head>
<body>
<h3>kurulus List</h3>
{% for kurulus in kurulus %}
    <p>{{ forloop.counter }}. {{ kurulus.KurulusAdi }} - {{ kurulus.get_status_display }}
        (<a href="{% url 'kurulus:kurulus_update' kurulus.KurulusId %}">Update</a> |
        <a href="{% url 'kurulus:kurulus_delete' kurulus.KurulusId %}">Delete</a>)
    </p>
{% endfor %}

<p> <a href="{% url 'kurulus:kurulus_create' %}"> + Add A New kurulus</a></p>
</body>
</html>